body{
    background-color:rgb(121, 24, 24) ;
}   

.Painel{
    background:white;
    margin: auto;
    width: 1000px;
    height: 700px;
    border-radius: 15px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#sim{
    position: absolute;
    height: 50px;
    width: 80px;
    background-color:wheat ;
    border: white;
    margin-left: 90px;
    border-radius:5px ;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#nao{
    position: fixed;
    height: 50px;
    width: 80px;
    background-color:wheat ;
    border: white;
    border-radius: 5px;
    margin-left: 190px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

img{
    margin-top: 100px;
}